*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 420;
    font-size: 30px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}

.caja-text-area{
    width: 500px;
    font-size: 10px;
    height: 500px;
    margin-left: 150px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder { color: #0A3871;}
.text-area:focus{
    outline: none;
}

.mensaje{
    background: white;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 80px 200px;
    background-size: 200px;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding: 20px 20px;
    position: relative;
    height: 695px;
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    left: 900px;
    top: 750px;
    position: absolute;
    width: 328px;
    background-color: white;
    display: none;
}

.informacion{
    color: #495057;
    font-size: 18px;
}

.mensaje-sin-texto{
    margin-left: 100px;
    position: relative;
    top: -350px;
    background-color: white;
}

.sin-mensaje{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

.ingrese-texto{
    text-align: center;
    font-size: 10px;
    background-color: white;
}

.ocultar{
    display: none;
}

@media screen and (max-width: 460px) {
    .logo {
        width: 20%; /* Cambiar el tamaño del logo */
    }
    
    .text-area {
        font-size: 14px; /* Cambiar el tamaño del texto de entrada */
        height: 250px;
        width: 200px;
    }

    .informacion{
        width: 200px;
        font-size: 10px;
    }

    .caja-text-area{
        width: 400px;
        font-size: 10px;
        height: 400px;
    }

    .caja-mensaje{
        position: relative;
        right: 400px;
        top: 500px;
        width: 400px;
        font-size: 10px;
    }

    .mensaje{
        width: 270px;
        right: 20px;
        height: 600px;
    }

    .mensaje-sin-texto{
        top: -300px;
    }

    .btn-copiar{
        display: block;
        left: 180px;
        top: 500px;
        width: 120px;
        font-size: 14px;
    }

    .btn-encriptar,
    .btn-desencriptar{
        width: 120px; /* Cambiar el tamaño de los botones */
        font-size: 14px; /* Cambiar el tamaño del texto de los botones */
    }
}